@model SMS.Models.StudentModel

@{
    ViewBag.Title = "AllStudents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>AllStudents</h2>
<br />
<div class="col-md-12">
    <h4>Filter Data By:-</h4>
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                @using (Html.BeginForm("AllStudents", "Admin", FormMethod.Get, new { @id = "filterform" }))
                {

                    <div class="row">
                        <div class="col-sm-2">
                            <label>Name</label>
                            @Html.TextBoxFor(model => model.Name, new { @Class = "form-control", @id = "search" })
                        </div>
                        <div class="col-sm-2">
                            <label>Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @Class = "form-control", @id = "search" })
                        </div>
                        <div class="col-sm-2">
                            <label>Gender</label>
                            @Html.TextBoxFor(model => model.Gender, new { @Class = "form-control", @id = "search" })
                        </div>
                        <div class="col-sm-2">
                            <label>Mobile</label>
                            @Html.TextBoxFor(model => model.Mobile, new { @Class = "form-control", @id = "search" })
                        </div>
                        <div class="col-sm-4" style="margin-top:25px">
                            <input type="submit" name="filter" class="btn btn-success" />
                            <input type="reset" name="reset" class="btn btn-warning" onclick="resetForm()" />
                        </div>
                        <div>
                    <br /><br />
                    @Html.ActionLink("Export to PDF", "ExportToPdf", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Export to Excel", "ExportToExcel", null, new { @class = "btn btn-success" })
                          </div>
                    </div>
                    <br />
                }
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table table-dark table-striped" id="studentsTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>Pk_Sid </th>
                            <th>ProfilePic</th>
                            <th>Name </th>
                            <th>FatherName</th>
                            <th>MotherName</th>
                            <th>ParentPhone</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Gender</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.stulist)
                        {
                            <tr>
                                <td> @item.Pk_Sid</td>
                                <td><img src="../Content/AdminImg/@item.ProfilePic" height="40" width="40" style="border-radius:30px;" /></td>
                                <td>@item.Name</td>
                                <td> @item.FatherName</td>
                                <td>@item.MotherName</td>
                                <td>@item.ParentPhone</td>
                                <td>@item.Email</td>
                                <td>@item.Mobile</td>
                                <td>@item.Gender</td>
                                <td>
                                    @Html.ActionLink("Details","StudentDetails",new { Pk_Sid = item.Pk_Sid }, new {@class="btn btn-warning"})
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
    function resetForm() {
        // Clear filter inputs
        $("#filterform input[type=text]").val("");
        // Submit the form
        $("#filterform").submit();
    }
        </script>
