@model SMS.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}
<div id="msgdiv">
    @{ 
        string msg = (string)TempData["msg"];
        string code = (string)TempData["code"];
        if(code!=null)
            {
                if (code.Equals(1))
                {
                    <div class="alert alert-success">
                        <strong>Success !</strong>@msg
                    </div>
            }
            else
                {
                    <div class="alert alert-danger">
                        <strong>Error !</strong>@msg
                    </div>
                }
        }
    }
</div>
<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword","Login",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ChangePassword</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control",@type="password" } }) 
                <span style="cursor:pointer;"><i class="glyphicon glyphicon-eye-open" onclick="myfunction1()"></i></span>
                <span id="olddiv" class="text-danger"></span>
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                <span style="cursor:pointer;"><i class="glyphicon glyphicon-eye-open " onclick="myfunction()"></i></span>

                <span id="newdiv" class="text-danger"></span>

                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConFirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConFirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                <span style="cursor:pointer;"><i class="glyphicon glyphicon-eye-open" onclick="myfunction2()"></i></span>

                <span id="confdiv" class="text-danger"></span>

                @Html.ValidationMessageFor(model => model.ConFirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" onclick=" return validate()"/>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout (function() {
            $("#msgdiv").fadeOut(1000);
        },
        1000);
    })
</script>
<script>
    function validate() {
        var oldpassword = $("#OldPassword").val();
        var newpassword = $("#NewPassword").val();
        var ConfirmPassword = $("#ConFirmPassword").val();
        if (oldpassword == "") {
            $("#olddiv").html('Please Enter Old Password');
            $("#OldPassword").focus();
            return false;
        }
        else if (newpassword == "") {
            $("#newdiv").html('Please Enter new Password');
            $("#NewPassword").focus();
            return false;
        }
        else if (ConfirmPassword == "") {
            $("#confdiv").html('Please Enter Confirm Password');
            $("#ConFirmPassword").focus();
            return false;
        }
        else {
            return true;
        }
    }
</script>
<script>
    function myfunction() {
        var x = document.getElementById('NewPassword');
        if (x.type == "password") {
            x.type = "text";
        }
        else {
            x.type = "password";
        }
    }
    function myfunction1() {
        debugger
        var y = document.getElementById('OldPassword');
        if (y.type == "password") {
            y.type = "text";
        }
        else {
            y.type = "password";
        }
    }
    function myfunction2() {
        var z = document.getElementById('ConFirmPassword');
        if (z.type == "password") {
            z.type = "text";
        }
        else {
            z.type = "password";
        }
    }
</script>